# Nakama Server
NAKAMA_HOST=127.0.0.1
NAKAMA_PORT=7350
NAKAMA_SERVER_KEY=defaultkey
NAKAMA_SSL=false

# Database
POSTGRES_DB=nakama
POSTGRES_USER=postgres
POSTGRES_PASSWORD=localdb

# Console
CONSOLE_USERNAME=admin
CONSOLE_PASSWORD=admin123
